body {
    font-family: Arial, sans-serif;
}

.cuadro {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold; 
}

a:hover {
    color: #ff6600;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
